
body { font-family: Arial; margin: 40px; }
form input { margin: 5px; }
table { margin-top: 20px; border-collapse: collapse; width: 100%; }
table, th, td { border: 1px solid rgb(28, 203, 189); }
th, td { padding: 8px; }
